* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    list-style: none;
}

div {
text-align: center;
padding: 40px;
}

.title, .info  {
    margin-top: 10px;    
}

section {
    padding-top: 5px;
}

#quiz {
    flex: 1 30%;
    list-style: none;
    text-align: center;
}

.text-input {
    width: 24em;
    height: 2em;
    border-radius: 10px;
    border-color: indigo;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.123);
    font-size: 1.5rem;
    top: -3px;
}

.btn {
    margin: 10px;
    outline: none;
    border: none;
    padding: 5px;
    font-size: 1.5rem;
    border-radius: 10px;
    position: relative;
    width: 12em;
    height: 2em;
    top: -3px;
    background-color: indigo;
    color: ivory;
    text-align: center;
}

.btn:hover {
    background-color: mediumorchid;
    top: -2px;
}

#high-score {
    list-style: none;
    font-size: medium;
    font-weight: bold;
    margin-left: 20px;
}